.photo-list__item {
  margin: 24px;
  padding: 16px;
  border-width: 1px;
  border-color: #e6e6e6;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  background-color: #ffffff;

}

.photo-list__item.dark {
  background-color: rgba(18, 18, 18, 0.8);  
  border-color: rgba(230, 230, 230, 0.4);
  color: #e6e6e6;

}

.photo-list__image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list__user-details {
  display: flex;
}

.photo-list__user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 0;
}

.photo-list__user-location {
  color: #838383;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0;
  margin-left: 8px;
}